

body {
  background-color: black;
  margin: 0;

}

.main {
  width: 90%;
}

h1.title {
  font-size: 70px;
  color: rgb(104, 0, 0);
  width: 100%;
  text-align: center;
}

.gamebody {
  background-repeat: no-repeat;
  background-size: 100% 80vh;
  background-position-y: center;
  width: 100vw;
  height: 60vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
}

.logo-header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 3vh;
}

.fire-logo {
  width: 370px;
  height: 70px;
  animation-name: flicker;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@keyframes flicker {
  0%, 10%, 20%, 50%, 75%, 90%{
    filter: brightness(1.3);
  }
  5%, 15%, 30%, 65%, 85% {
    filter: brightness(.5);
  }
  8%, 13%, 25%, 40%, 54%, 58%, 70%, 82%, 95% {
    filter: brightness(1);
  }
  18%, 22%, 33%, 43%, 47%, 56%, 63%, 72%, 87%, 98% {
    filter: brightness(1.15);
  }
  3%, 28%, 33%, 45%, 47%, 52%, 68%, 79%, 84%, 92%, 99% {
    filter: brightness(.7);
  }
}

.game-instructions {
  width: 100%;
  display: flex;
  max-height: 600px;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 5vh;
}



.instructions, .leaderboard-container {
  color: rgb(172, 0, 0);
  max-width: 250px;
  width: 20%;
  height: 600px;
  font-size: 1.2em;
  padding: 10px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;

  @media (max-width: 1300px) {
    position: absolute;
    max-width: 250px;
    width: 30%;
    height: fit-content;
  }
}

.instructions {
  @media (max-width: 1300px) {
    left: 20%;
    bottom: -130%;

  }
}
.leaderboard-container {
  @media (max-width: 1300px) {
    right: 20%;
    bottom: -113%;
  }
}

.controls {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 1vh;
}

.instructions h2 {
  width: 100%;
  font-size: 1.3em;
  margin: 0;
  display: flex;
  justify-content: center;
}

.controls li {
  padding: 10px 0;
  display: flex;
  vertical-align: middle;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(99, 0, 0, .5);
}

li span:last-child {
  text-align: right;
}

p.directive {
  padding: 0;
  text-align: center;
}


.links {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: -7vh;
  justify-content: center;
  color: white;
  list-style: none;
  margin: 0;
}

.links li {
  margin: 0 10vw;
}

.links a{
  color: pink;
  text-decoration: none;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.highscore-form{
  position: absolute;
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 5;
  background-color: red;
}

.highscore-form h3 {
  font-size: 2em;
  margin: 10px 0;
}
.highscore-form h4 {
  font-size: 1.5em;
  margin: 0 0 20px 0;
}

.highscore-form input {
  width: 200px;
  padding-left: 4px;
  font-size: 1.1em;
}

.highscore-form div {
  font-size: 0.9em;
}

.highscore-form .score-submit {
  width: 200px;
  background-color: darkred;
  border: none;
  border-radius: 3px;
  padding: 5px;
  margin: 20px 0;
  position: relative;
  z-index: 6;

}

.score-submit:hover {
  cursor: pointer;
  background-color: rgb(245, 63, 63);
}

canvas {
  background-color: black;
  align-self: center;
}

.leaderboard-container h2 {
  width: 100%;
  font-size: 1.3em;
  margin: 0;
  text-align: center;
}

#leaderboard {
  padding-left: 0;
}

#leaderboard li {
  font-size: 1em;
  margin: 20px 0;
  text-align: right;
}

