


body {
  background-color: black;
  margin: 0;

}

.main {
  width: 90%;
}

h1.title {
  font-size: 70px;
  color: rgb(104, 0, 0);
  width: 100%;
  text-align: center;
}

.gamebody {
  background-image: url("/assets/seisa.png");
  background-repeat: no-repeat;
  background-size: 100% 80vh;
  background-position-y: center;
  width: 100%;
  height: 60vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
}

.game-instructions {
  width: 100%;
  display: flex;
  max-height: 500px;
  justify-content: flex-start;
  padding-left: 5vw;
  position: relative;
  top: 5vh;
}

.instructions {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(104, 0, 0);
  max-width: 250px;
  width: 20%;
  height: 500px;
  margin-right: 60px;
  margin-left: 6vw;
  font-size: 1.2vw;
  padding: 10px;
  box-sizing: border-box;

}

.controls {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 1vh;
}

.controls h2 {
  width: 100%;
  margin: 0;
}

.instructions li {
  padding: 10px 0;
}

.directive {
  padding: 0;
}


.links {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: -7vh;
  justify-content: flex-start;
  color: white;
  list-style: none;
  margin: 0;
}

.links li {
  margin: 0 10vw;
}

.links a{
  color: pink;
  text-decoration: none;
}

canvas {
  background-color: black;
  align-self: center;

}

