


body {
  background-color: black;
  margin: 0;

}

.main {
  width: 90%;
}

h1.title {
  font-size: 70px;
  color: rgb(104, 0, 0);
  width: 100%;
  text-align: center;
}

.gamebody {
  background-repeat: no-repeat;
  background-size: 100% 80vh;
  background-position-y: center;
  width: 100vw;
  height: 60vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
}

.logo-header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 3vh;
}

.fire-logo {
  width: 370px;
  height: 70px;
  animation-name: flicker;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@keyframes flicker {
  0%, 10%, 20%, 50%, 75%, 90%{
    filter: brightness(1.3);
  }
  5%, 15%, 30%, 65%, 85% {
    filter: brightness(.5);
  }
  8%, 13%, 25%, 40%, 54%, 58%, 70%, 82%, 95% {
    filter: brightness(1);
  }
  18%, 22%, 33%, 43%, 47%, 56%, 63%, 72%, 87%, 98% {
    filter: brightness(1.15);
  }
  3%, 28%, 33%, 45%, 47%, 52%, 68%, 79%, 84%, 92%, 99% {
    filter: brightness(.7);
  }
}

.game-instructions {
  width: 100%;
  display: flex;
  max-height: 600px;
  justify-content: flex-start;
  padding-left: 5vw;
  position: relative;
  top: 5vh;
}

.instructions {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(104, 0, 0);
  max-width: 250px;
  width: 20%;
  height: 600px;
  margin-right: 60px;
  font-size: 1.2vw;
  padding: 10px;
  box-sizing: border-box;

}

.controls {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 1vh;
}

.controls h2 {
  width: 100%;
  margin: 0;
}

.instructions li {
  padding: 10px 0;
}

.directive {
  padding: 0;
}


.links {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: -7vh;
  justify-content: flex-start;
  color: white;
  list-style: none;
  margin: 0;
}

.links li {
  margin: 0 10vw;
}

.links a{
  color: pink;
  text-decoration: none;
}

canvas {
  background-color: black;
  align-self: center;

}

